<div class="container" >
    <form class="" action="index.html" method="post">
      <input type="text" name="nome" value="" >
      <input type="text" name="console" value="">
      <button type="button" name="button" (click) = adicionar()> Salvar </button>
    </form><br>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Console</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>
